body {
  background-image: var(--gradient-background);
}

.container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order {
  margin: 1rem;
}

h1 {
  margin-bottom: 3rem;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 0.5;
}

h5 {
  margin: 1rem;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 0.5;
}

button:disabled {
  color: var(--color-background);
  background-color: var(--color-links);
  font-weight: bold;
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 1024px) {
}
